@import '../../../variables.scss';

.Button {
  background-color: transparent;
  border: none;
  color: $bg-white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: $spacing-8;
  margin: $spacing-8;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  color: $off-white;
  cursor: not-allowed;
}

.Success {
  color: $success;
}

.Danger {
  color: $error;
}
