@import '../../../variables.scss';

.Input {
  width: 100%;
  padding: $spacing-8;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: $spacing-8;
}

.InputElement {
  outline: none;
  border: $spacing-1 solid $off-white;
  background-color: $bg-white;
  font: inherit;
  padding: $spacing-4 $spacing-8;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: $border-radius-01;
}

.InputElement:focus {
  outline: none;
  background-color: $bg-white;
}

.Invalid {
  border: 1px solid $error;
  background-color: $error;
}
