@import '../../variables.scss';

.Auth {
  margin: $spacing-24 auto;
  width: $width-80;
  text-align: center;
  box-shadow: $shadow-02;
  border: $spacing-1 solid $off-white;
  padding: $spacing-8;
  box-sizing: border-box;

  .errorMessage {
    color: $error;
  }
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}
